torch
vllm
bitsandbytes>=0.48.1
datasets
tqdm
jsonlines
wandb
jupyter
absl-py
langdetect
nltk
immutabledict
unsloth
numpy
num2words
matplotlib
peft
scikit-learn
scipy
statsmodels
transformers
trl
weave
langid
git+https://github.com/oKatanaaa/ifeval.git